<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home'%}">HorekRokom Book Shop</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'deposit'%}">Deposit</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'transation'%}">Borrowed Report</a>
          </li> 
         
          {% endif%} 
        </ul>
        <div class="d-flex">
          {% if request.user.is_authenticated %}
          <div class="dropdown">
            <a class="dropdown-toggle mx-lg-4 mx-4 fw-bolder text-dark text-decoration-none" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Welcome, {{user.username}} (balance: {{request.user.account.balance}})
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'update'%}">Update now </a></li>
            </ul>
          </div>
          <button class="btn btn-warning type="submit"><a  class="text-decoration-none text-light" href="{% url 'logout'%}">logout</a></button>
  
          {% else %}
          <button class="btn btn-success mx-lg-3 mx-sm-2" type="submit"><a class="text-decoration-none text-light" href="{% url 'singup'%}">Register</a></button>
          <button class="btn btn-warning type="submit"><a a class="text-decoration-none text-light" href="{% url 'login'%}">LogIn</a></button>
          {%endif%}
        </div>
      </div>
    </div>
  </nav>